html {
    height: 100%;
}

/* ROOT */
:root {
    --ff-body: 'Open Sans', sans-serif;

    --fs-xxsmall: 1rem;
    --fs-xsmall: 1.1rem;
    --fs-small: 1.25rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;
    --fs-xlarge: 3rem;

    --fw-normal: 400;
    --fw-thick: 500;
    --fw-bold: 700;

    --color-primary: 0, 0%, 13%;
    --color-secondary: 15, 100%, 50%;
    --color-tertiary: 230, 100%, 64%;
    --color-accent: 5, 100%, 50%;

    --spacing: 1rem;
    --spacing-medium: 2rem;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* TYPOGRAPHY */
.fs-xxsmall {
    font-size: var(--fs-xxsmall);
}
.fs-xsmall {
    font-size: var(--fs-xsmall);
}
.fs-small {
    font-size: var(--fs-small);
}
.fs-medium {
    font-size: var(--fs-medium);
}
.fs-large {
    font-size: var(--fs-large);
}
.fs-xlarge {
    font-size: var(--fs-xlarge);
}

/* BODY */
body {
    height: 100%;
    position: relative;
    font-family: var(--ff-body);
    font-size: var(--fs-small);
    background-color: hsl( var(--color-primary) );
    color: white;
}

/* FLEX */
.flex {
    display: flex;
}

/* FLEX COLUMNS */
.flex-col {
    display: flex;
    flex-direction: column;
}

/* GRID */
.grid {
    display: grid;
}

/* CENTER ITEMS */
.center-item {
    display: grid;
    place-items: center;
}

/* CENTER CONTENT */
.center-content {
    display: grid;
    place-content: center;
}

/* EVEN COLUMNS */
.even-cols {
    flex-basis: 100%;
}

/* TEXT CENTER */
.center-text {
    text-align: center;
}

/* SECTIONS */
/* game page */
.scores {
    height: 15%;
}
.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-to {
    margin: 1rem 0 0.5rem 0;
    justify-content: space-around;
}

.info {
    padding-bottom: 1rem;
}

.previous-scores-container {
    height: 20%;
    overflow: hidden;
    background-color: black;
}
.previous-scores {
    height: fit-content;
}
.previous-score {
    margin: 0.35rem 0;
}

.checkouts-container {
    height: 80px;
}
.checkout-one,
.checkout-two {
    background-color: hsl( var(--color-tertiary) );
    word-spacing: 6px;
    border-radius: 5px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    margin-top: auto;
}

.container-keys {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    height: 50%;
}
.keys {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: auto;
}
.key {
    border: 0.5px solid black;
}

.buttons {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem 1rem
}

/* home page */
.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: hsl( var(--color-primary) );
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-page-header {
    background-color: black;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.game-score-pick {
    justify-content: center;
    margin-top: var(--spacing-medium);
    /* padding: var(--spacing-medium); */
    border-top: 1px solid hsl( var(--color-accent) );
    border-bottom: 1px solid hsl( var(--color-accent) );
    background-color: hsl( var(--color-primary) );
}
.game-score-pick * + * {
    margin-left: var(--spacing);
}

.container-first-to-home {
    max-width: 800px;
    width: 90%;
    margin-inline: auto;
}
.first-to-home {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-to-heading {
    margin-bottom: var(--spacing-medium);
}
.legs {
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 1rem 2rem;
}
.legs-counter {
    display: flex;
    align-items: center;
}
.legs-counter * + * {
    margin-left: var(--spacing);
}
.sets {
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.sets-counter {
    display: flex;
    align-items: center;
}
.sets-counter * + * {
    margin-left: var(--spacing);
}

.participants {
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-game {
    height: 17%;
}

/* MODALS */
.modal {
    background-color: rgba(37, 37, 37, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    display: grid;
    place-items: center;
    color: white;
}

.modal-popup {
    width: 75%;
    height: 300px;
    padding: 1rem;
    background-color: rgba(37, 37, 37, 0.95);
    display: grid;
    place-content: center;
    text-align: center;
    box-shadow: 0 0 5px 2px #FFFFFF;
}

.modal-popup * + * {
    margin-top: 1rem;
}

.modal-content {
    width: 200px;
}

/* invalid input page */
.invalid-input-page {
    z-index: 40;
}

/* number of darts page */
.number-of-darts-page {
    z-index: 4;
}

/* are you sure page */
.are-you-sure-page {
    z-index: 40;
}

/* game over page */
.game-over-page {
    z-index: 1;
}

/* STATS PAGE */
.stats-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: hsl( var(--color-primary) );
    color: white;
    overflow-y: scroll;
}
.stats-header {
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 1rem;
    background-color: hsl( var(--color-accent) );
    color: white;
}
.stats-heading {
    margin-left: 1rem;
}
.stats-player-one-heading {
    margin-top: 5rem;
}
.stats-player-two-heading {
    margin-top: 2rem;
}
.stats-player-heading {
    padding: 1rem
}
.player-stats {
    max-width: 700px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.player-stats * + * {
    margin-top: 0.5rem;
}
.player-stats li + li {
    border-top: 1px solid white;
}
.player-stat {
    width: 100%;
    align-items: center;
}
.stat {
    margin-left: auto;
}

/* BUTTONS */
button {
    display: block;
    border: none;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    background-color: hsl( var(--color-accent) );
    color: white;
    padding: 0.5rem var(--spacing);
    /* border-radius: 10px; */
}

button:hover {
    background-color: aqua;
}

.close-stats-btn {
    display: block;
    height: fit-content;
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    color: hsl( var(--color-primary) );
    padding: 0;
}

/* .close-stats-btn:hover {
    
} */

.start-game-btn {
    width: 100%;
    height: 100%;
    border: none;
    /* margin-top: auto; */
    background-color: hsl( var(--color-accent) );
}

.first-to button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.game-score-pick button {
    font-size: var(--fs-medium);
}

.quit-match-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.submit-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.modal-popup button {
    width: 90%;
    margin-inline: auto;
}

/* BACKGROUNDS */
.score {
    background-color: black;
    color: white;
}

.active {
    background-color: hsl( var(--color-accent) );
}

/* HIDDEN ELEMENT */
.hidden {
    display: none;
}
